# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart
*.freezed.dart

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/debug.keystore
android/app/release.keystore
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.*

# iOS
ios/Flutter/flutter_export_environment.sh
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# General
.DS_Store
*.class
*.log
*.pyc
*.swp
.idea/
*.iml
*.ipr
*.iws
.vscode/
